@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #c34a4d;
    --secondary-color: #eaeaea;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', serif;
    font-size: 14px;
}

.title {
    font-family: 'Oswald', serif;
    font-weight: bold;
    font-size: 24px;
}

.bigTitle {
    font-family: 'Oswald', serif;
    font-weight: bold;
    font-size: 40px;
}
